$light-yellow: #E7DABD;
$dark-peach: #FD7963;
$light-peach: #F7BBBB;
$dark-blue: #054158;
$light-blue: #184F63;

$track-hover: #E9E5E2;

$bg-color: white;
$green: #26A41C;
$grey-gradient: linear-gradient(to bottom right, #6B6B6B, #4A4A4A);

