@import "variables";
// @import "bootstrap";

body {
  background: $bg-color;
  font-family: "Roboto", sans-serif !important;
  color: $dark-blue!important;
}

.jumbotron {
  background-color: $dark-peach;
  // background-color: #43AB8D;
}

p.text-muted {
  color: $light-blue!important;
}

.badge-warning {
  color: $dark-blue!important;
  background-color: $light-peach !important;
}
.card {
  // needs fixing !!!
  min-width: 490px !important;
  max-width: 490px !important;
  border: 0px !important;
  background: transparent !important;
  // border-bottom: 2px solid black !important;
  // flex-direction: row!important;
}

span.track-container {
  background-color: rgba(0, 0, 0, 0.1);
  display: inline-block;
  padding: 10px;
  // border-radius: 8px;
  width: 100%;
  margin: 0 auto;

  ol {
    padding-inline-start: 22px !important;
  }
}

audio {
  // filter: sepia(70%) saturate(10%) grayscale(1) contrast(90%) invert(20%);
  width: 95%;
  height: 16px !important;
  position: relative;
  left: 8px;
  border:0!important;
  border-block-end: none!important;
  &.audio-player {
    border:0!important;
    border-block-end: none!important;
  }
}

audio:focus {
  outline: none !important;
}

span.track-number {
  position: absolute;
  top: 17px;
  left: 5px;
  z-index: 9999;
  display: inline-block;
}

span.song-name {
  font-size: 14px;
  word-break: break-word;
  line-height: 14px;
  /* display: inline-block; */
  color: $dark-blue;
  /* width: 90%; */
  padding-bottom: 9px;
  position: relative;
  top: 15px;
  left: 50px;
  z-index: 9999;
}

input#search-box {
  border: 0 !important;
  border-radius: 20px;
}

.search-bttn {
  .search-button {
    border: 0px;
    width: 30px;
    height: 30px;
    background-color: $dark-blue !important;
    border-radius: 50% !important;
    position: absolute;
    right: 20px;
    vertical-align: middle;
    top: 3px;
    z-index: 999999 !important;

    &:after {
      // content:"\f002";
      content: "";
      display: block;
      width: 100%;
      height: 60px;
      background: url(../assets/search.svg) center center;
      -webkit-filter: invert(100%); // convert to white -- hack
      background-repeat: no-repeat;
      background-size: 70%;
      position: absolute;
      right: 1px;
    }
  }

  svg {
    display: inline-block;
    fill: white !important;
  }
}

audio::-webkit-media-controls-panel {
  background: $bg-color;
  border: 0 !important;
  border-radius: 0px !important;
  border-block-end: none!important;
  box-shadow: 0!important;
  
  &:focus {
    outline: none !important;
  }
}

audio::-webkit-media-controls-mute-button {
  display: none;
}

audio::-webkit-media-controls-play-button {
  width: 50% !important;
  // -webkit-filter: invert(100%); // convert to white -- hack
}

audio::-webkit-media-controls-timeline {
  display: none !important;
}
audio::-webkit-media-controls-timeline-container {
  display: none !important;
}
audio::-webkit-media-controls-current-time-display {
  display: inline-block !important;
  position: absolute;
  right: 10px;
  color: $dark-blue !important;
  text-shadow:none!important;

}
audio::-webkit-media-controls-time-remaining-display {
  display: none;
}

// audio::-webkit-media-controls-current-time-display{
//   display: none!important;
// }

audio::-webkit-media-controls-volume-slider-container {
  display: none !important;
}

audio::-webkit-media-controls-seek-back-button,
audio::-webkit-media-controls-seek-forward-button,
audio::-webkit-media-controls-fullscreen-button,
audio::-webkit-media-controls-return-to-realtime-button,
audio::-webkit-media-controls-toggle-closed-captions-button,
audio::-webkit-media-controls-return-to-realtime-button,
audio::-webkit-media-controls-rewind-button,
audio::-webkit-media-controls-toggle-closed-captions-button,
audio::-webkit-media-controls-closed-captions-container,
audio::-webkit-media-controls-closed-captions-track-list,
audio::-webkit-media-controls-volume-slider {
  display: none !important;
}

.track-list {
  span.track-time {
    display: inline-block;
    position: absolute;
    right: 58px;
    top: 16px;
    z-index: 999;
  }
}
// .track-container ul {
//   list-style-type: decimal!important;
// }

img.card-img-top {
  width: 25%;
  margin-top: 10px;
  border-radius: 50% !important;
  filter: grayscale(100%);
  display: inline-block;
  vertical-align: top;
  margin-top: 30px;
  margin-right: 30px;
  // margin-left: 1.25rem !important;
}

p.card-text.pt-2 {
  line-height: initial;
  display: inline-block;
}

.album-name {
  display: inline-block;
  margin-bottom: 10px;

  // p {
  //   font-size: 16px !important;
  //   letter-spacing: 0.08em;
  //   color: #fde86b !important;
  // }
  h3 {
    font-size: 1.5em !important;
    letter-spacing: 0.04em;

  }

}
.list-group-item {
  background: transparent !important;
  border: 0 !important;
  border-bottom: 2px solid $light-peach !important;
  padding: 0 !important;

 
  &:hover {
    background:$track-hover !important;
    audio::-webkit-media-controls-panel {
      background:$track-hover !important;
    }
  }
}

span.small-text {
  font-size: 12px;
  margin-right: 12px !important;
  line-height: 11px;
  margin-right: 12px !important;
}
.card-body {
  padding: 0 0 0 1.25rem !important;
}
.card-text {
  a {
    color: white;
    p {
      padding-bottom: 2px !important;
      // border-bottom: 2px solid black!important;
      display: inline-block !important;
      word-break: break-word;
      text-decoration: underline !important;
    }
  }
  p {
    margin-top: 0.2rem !important;
    margin-bottom: 6px !important;
    font-size: 0.8em;
    font-weight: bold;
    display: inline-block;
    color: $dark-blue;
  }
}

.track-list {
  font-size: 13px !important;
  color: $dark-blue;
  line-height: 16px;
  // display:list-item!important; //ovo stavitit kad vratim na ol !!!!
  /* margin-top: 5px; */
  // display: table-row;
  cursor: pointer;
}

// .card-text p:last-of-type {
//   padding-bottom: 10px!important;
// }

.border-bottom {
  border-bottom: 2px solid black !important;
}
